$color-grey: #e9e9eb;
$color-dark: #444444;
$color-error: #e8014c;
$color-white: #ffffff;
$spacing: 5px;

.mooce-slideshow {

    display: flex;
    flex-direction: row;
    max-height: 35rem;
    
    .btn {
        span {
            position: relative; 
            line-height: 1.65;
        }
            
        .mdi { 
            font-size: 24px; 
            top: 3px;
            position: relative;
        }
    }

    .mooce-preview {
        flex: 1;
        margin-right: 1rem;
        min-width: 50%;

        .mooce-delete-slide {
            display: block;
            background: $color-error;
            color: $color-white;
            width: 100%;
        }
        
        .mooce-slide-image {

            position: relative;
            height: 17rem;
            background: $color-grey;

            img {
                width: 100%;
                height: 100%;
                display: block;
                object-fit: cover;
            }
            
            &:hover {
                .mooce-no-image {
                background: darken($color-grey, 5%);
                }

                .mooce-actions {
                    opacity: 1;
                }
            }

            .mooce-no-image {
                color: $color-dark;
                background: darken($color-grey, 2.5%);


                .mdi {
                    font-size: 2rem;
                }

                span {
                    position: absolute;
                    width: 15rem;
                    margin-left: -7.5rem;
                    text-align: center;
                    margin-top: 4rem;
                    font-size: 1rem;
                    left:50%;
                }
            }

            .mooce-actions {
                opacity: 0;
                transition: opacity ease-in-out 0.25s;
                position: absolute;
                bottom: .5rem;
                right: .5rem;
            } 
        }
    }
    
    .mooce-slides {
        flex: 1; 
        display: flex;
        flex-direction: column;
        overflow: hidden;
        

        .mooce-no-slides {
            position: relative;
            height: 10rem;
            .mooce-no-image {
                background: #dcdcdf;

                .mdi {
                    font-size: 2rem;
                    top:0;
                }
            }

            span {
                position: absolute;
                width: 16rem;
                margin-left: -8rem;
                text-align: center;
                margin-top: 4rem;
                font-size: 1rem;
                left: 50%;
            }
        }
        
        .mooce-slides-menubar {

            position: relative;
            margin-bottom: 1rem;

            small {
                position: absolute;
                top:0.5rem;
                right: 0.5rem;
                color:#a09ca9;
            }

            .mooce-select-control {
                background: none;
                width: 2rem;
                height: 2rem;
                padding: 0; 
                border: none;
                top: 8px;
                position: relative;
                left: 1rem;
                color:$color-dark;

                .mdi {
                    line-height: 1.25;
                    font-size: 1.5rem;
                }
            }

            .mooce-pull-right {
                float: right;
            }
        }

        ul {
            flex:1;
            overflow-y: auto;
            list-style: none;
            padding: 0;
            margin:0;
            white-space: nowrap; 
            overflow-x:auto;
            max-width:100%;

            li {
                position: relative;
                border-radius: 2px;
                margin-bottom: 0.5rem;
                cursor: pointer;
                min-height: 3.25rem;
                padding: .5rem;
                padding-left: 4.5rem;
                padding-right: 5rem;


                h4 {
                    margin: 0;
                    line-height: 1.75;
                    font-size: 1rem;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }

                &:hover {

                    background-color: $color-grey;

                    .mooce-actions {
                        opacity: 1;
                    }
                }

                &.mooce-selected {
                    background-color: #333;
                    color:$color-white;
                    
                    small {
                        color:$color-white;
                    }
                    
                    .btn, .mooce-slide-no-image, .mooce-slide-selected {
                        background: #222;
                        color:$color-white;
                    }

                }
                
                small {
                    color: #a09ca9;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    display: block;
                }

                img, .mooce-slide-no-image, .mooce-slide-selected {
                    position: absolute;
                    top:0.5rem;
                    left:0.5rem;
                    margin:0;
                    width:3rem;
                    height:3rem;
                    border-radius: 1.5rem;
                    object-fit: cover;
                    background: #e2e2e5;
                    
                    .mdi {
                        font-size: 1.5rem;
                        top: 0.75rem;
                        position: absolute;
                        width: 100%;
                        text-align: center;
                    }
                }

                .mooce-slide-selected {
                    border: none;
                    background: #e2e2e5;
                    .mdi {
                        left:0;
                        top:0.8rem;
                    }
                }

                .mooce-actions {
                    
                    display: block;
                    position: absolute;
                    top:.95rem;
                    right:.35rem;

                    opacity: 0;
                    transition: opacity ease-in-out 0.25s;
                }
            }
        }
    }

    .mooce-3-1-fields {
        > div {
            float:left;
            box-sizing: border-box;
            &:first-child {
                width:75%;
            } 
            &:last-child {
                width:25%;
            }
        }

    }

 
 
 .mooce-no-image {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -2.5rem;
    margin-top: -3.5rem;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    font-size: 2.5rem;
    color: #333333;
    background: $color-grey;
}

.mooce-slide {
    display: inline-block;
    vertical-align: text-bottom;
    border-radius: 4px;
    background: $color-grey;
    margin: $spacing;
    width:20rem;
    height: 25rem;
    position: relative;

    &:hover {
        .mooce-delete {
            opacity: 1;
        }    
    }

    &.mooce-new-slide {
        background: $color-white;
        outline: 4px dashed $color-grey;
        cursor: pointer;

        &:hover {
            background-color: lighten( $color-grey, 2% ) ;
        }

        p {
            text-align: center; 
            position: absolute;
            top: 50%;
            margin-top: 5rem;
            left: 0;
            right: 0; 
        }
    }
    
    > div {
        margin: 10px;
        margin-bottom: 0;
    }

    .mooce-delete {
        opacity: 0;
        z-index: 1;
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        width: 2rem;
        height: 2rem;
        padding: 0;
        border-radius: 50%;
        font-size: 1.25rem;
        background:$color-error;
        color:$color-white;
    }
 }


.mooce-actions {   
    
    .btn {
        font-size: 1rem;
        width:2rem;
        height: 2rem;
        padding: 0;
    }
}

 .mooce-editable-field {
     display: block;
     position: relative;
     padding-top: 2rem;

     label {
         position: absolute;
         top:0.5rem;
         left:0;
         color: $color-dark;
         font-size: 0.75rem;
     }

     textarea, input {
        padding: 5px;
        background: $color-white;
        outline:1px solid #bbbabf;
        position: relative;
        border-color:transparent;
        border-radius: 5px;
        display: block;
        width: 100%;
        box-sizing: border-box;
        
        &:hover {
            cursor: pointer;
        } 

     }
 
 } 

 .mooce-slide-link {
     padding-right: 8rem;
     position: relative;
     
     white-space: nowrap;
     text-overflow: ellipsis;
     overflow: hidden;

     .btn {
         max-width: 100%;
     }
     
     small a {
         color:$color-dark;
     }
 } 
 
}