<div ng-controller="Mooce.Slideshow">
    <div ng-if="toggledSlide">
        <div>
            <label>Heading</label>
            <input ng-model="toggledSlide.heading" />
        </div>
        <div>
            <label>Caption</label>
            <textarea ng-model="toggledSlide.caption"></textarea>
        </div>

        <div>
            <label>Background Image</label>
            <img src="{{ toggledSlide.backgroundUrl }}" />
            <button ng-click="pickPhoto($event, toggledSlide)">Pick photo</button>
        </div>

        <div>
            <label>Link</label>
            <button ng-click="pickLink($event, toggledSlide)">Pick link</button>
        </div>
    </div>

    <hr>

    <ul ng-repeat="slide in getAllSlides()">
        <li  ng-click="toggleSlide(slide)" ng-style="{ background : isToggled(slide) ? 'red' : '' }">
            <p>{{ slide.heading }}</p>
            <button ng-click="deleteSlide($event, slide)">Delete Slide</button>
        </li>
    </ul>
    <button ng-click="addSlide($event)">Add Slide</button>
</div>