<div class="mooce-slideshow" ng-controller="Mooce.Slideshow">
    <div class="mooce-preview" ng-if="slide">
        <div class="mooce-slide-image">
            <img ng-if="slide.backgroundUrl" src="{{ slide.backgroundUrl }}" />
            <span class="mooce-actions" ng-if="slide.backgroundUrl">
                <button class="btn" ng-click="pickPhoto($event, slide)">
                    <i class="mdi mdi-pencil"></i>
                </button>
                <button class="btn" ng-click="clearPhoto($event, slide)">
                    <i class="mdi mdi-delete"></i>
                </button>
            </span>
            <button class="btn mooce-no-image" ng-if="!slide.backgroundUrl" ng-click="pickPhoto($event, slide)">
                <i class="mdi mdi-image-filter-hdr"></i>
                <span>Pick a photo for this slide</span>
            </button>
        </div>
        <div class="mooce-editable-field">
            <label>Heading</label>
            <input ng-model="slide.heading" />
            <i class="mdi mdi-pencil"></i>
        </div>
        <div class="mooce-editable-field">
            <label>Caption</label>
            <textarea ng-model="slide.caption"></textarea>
            <i class="mdi mdi-pencil"></i>
        </div>
        <div class="mooce-3-1-fields clearfix">
            <div class="mooce-editable-field mooce-slide-link">
                <label>Link</label>
                <a href="{{ slide.link }}" class="btn" ng-if="slide.link">{{ slide.link }}</a>
                <span class="mooce-actions" ng-if="slide.link">
                    <button class="btn" ng-click="pickLink($event, slide)">
                        <i class="mdi mdi-pencil"></i>
                    </button>
                    <button class="btn" ng-click="clearLink($event, slide)">
                        <i class="mdi mdi-delete"></i>
                    </button>                    
                </span>
                <button class="btn" ng-if="!slide.link" ng-click="pickLink($event, slide)">Pick link</button>
            </div>
            <div class="mooce-editable-field">
                <label>Slide duration</label>
                <input ng-model="slideDuration" ng-change="onChangeSlideDuration()" type="number" min="1" />
            </div>
        </div>
    </div>
    <div class="mooce-slides">
        <div class="mooce-slides-menubar">
            <button class="btn" ng-click="selectAll($event)">
                <span ng-if="selection.length == 0">All</span><i class="mdi mdi-select-all"></i>
            </button>

            <button class="btn" ng-if="selection.length == 0" ng-click="slideAdd($event)">
                <i class="mdi mdi-plus"></i>
                <span>Add slide</span>
            </button>

            <small ng-if="selection.length === 0 && getAllSlides().length > 0">
                {{ getAllSlides().length }} slides total
            </small>
            <button class="btn mooce-delete" ng-if="selection.length > 0" ng-click="deleteSelected($event)">
                <i class="mdi mdi-delete"></i> Delete {{ selection.length }} slides
            </button>
        </div>
        <ul>
            <li ng-repeat="slide in getAllSlides()" ng-class="{ 'mooce-selected' : slideIsToggled(slide) }" ng-click="slideToggle($event, slide)"> 
                
                <img src="{{ slide.backgroundUrl }}" ng-click="selectToggle($event, slide)" ng-if="!selectIsToggled(slide) && slide.backgroundUrl" />
                
                <span class="mooce-slide-no-image" ng-click="selectToggle($event, slide)" ng-if="!selectIsToggled(slide) && !slide.backgroundUrl">
                    <i class="mdi mdi-image-filter-hdr"></i>
                </span>
                <button class="mooce-slide-selected" ng-click="selectToggle($event, slide)" ng-if="selectIsToggled(slide)">
                    <i class="mdi mdi-arrow-down mdi-check"></i>
                </button>

                <h4>
                    {{ slide.heading }}
                </h4>
                <small>
                    {{ slide.caption }}
                </small>
                <span class="mooce-actions">                
                    <button class="btn" ng-if="sortEnabled(slide, -1)" ng-click="sortSlide($event, slide, -1)">
                        <i class="mdi mdi-arrow-up"></i>
                    </button>
                    <button class="btn" ng-if="sortEnabled(slide, 1)" ng-click="sortSlide($event, slide, 1)">
                        <i class="mdi mdi-arrow-down"></i>
                    </button>
                </span>
            </li>
        </ul>
    </div>
</div>