<div class="mooce-slideshow" ng-controller="Mooce.Slideshow">
    <ul class="clearfix">
        <li ng-repeat="slide in getAllSlides()"> 
            <div>
                <div class="mooce-editable-field">
                    <input placeholder="Heading" ng-model="slide.heading" />
                    <i class="mdi mdi-pencil"></i>
                </div>
            </div>
            <div>
                <div class="mooce-editable-field">
                    <input placeholder="Caption" ng-model="slide.caption" />
                    <i class="mdi mdi-pencil"></i>
                </div>
            </div>
            <div>
                <div class="mooce-editable-field">
                    <label>Link</label>
                    <button ng-click="pickLink($event, slide)">Pick link</button>
                </div>
            </div>
            <img ng-if="slide.backgroundUrl" src="{{ slide.backgroundUrl }}" width="250" />
            <button ng-click="pickPhoto($event, slide)">Pick photo</button>
            <button ng-click="deleteSlide($event, slide)">Delete Slide</button>
        </li>
    </ul>
    <button ng-click="addSlide($event)">Add Slide</button>
    <div>
        <label>Slide duration</label>
        <input ng-model="slideDuration" ng-change="onChangeSlideDuration()" type="number" min="1" />
    </div>
</div>